/* main section */

.label {
  display: block;
  padding: 5px 40px;
  color: #999999;
}
input {
  border: 1px solid rgb(231, 227, 227);
  padding: 0 5px;
  margin: 0 40px;
  height: 30px;
  width: 500px;
}
.message_type {
  height: 300px;
  width: 500px;
}

.textarea {
  border: 1px solid rgb(231, 227, 227);
  padding: 0 5px;
  margin: 0 40px;
  height: 30px;
  width: 500px;
  height: 300px;
}

/* .submit{
    border: 1px solid rgb(231, 227, 227);
    padding: 0 40px;
    margin: 10px 40px;
    width: 120px;
    height: 40px;
    background-color: #4aaaa5;
}
.submit:hover{
    border: 1px solid rgb(231, 227, 227);
    padding: 0 40px;
    margin: 10px 40px;
    width: 120px;
    height: 40px;
    background-color: #85fff9;
} */

.btn {
  border: 1px solid rgb(231, 227, 227);
  border-radius: 24px;
  padding: 0 40px;
  margin: 10px 40px;
  width: 120px;
  height: 40px;
  background-color: #4aaaa5;
  color: azure;
  box-shadow: 0 4px #b3b4b4;
}
.btn:hover {
  background-color: #118681;
  cursor: pointer;
}

.btn:active{
  width: 119px;
  height: 39px;
}