/* MAIN */
.pic_div {
  margin: 24px;
  width: 275px;
  height: 202px;
  float: left;
}

/* .pic_div:hover{
    margin: 24px;
    width: 275px;
    height: 202px;
    float: left;
    font-size: 20px;
    height: 50px;
    width: 275px;
    background-color: #17cbc2;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 140px;

} */

.picture {
  border: 1px rgb(158, 157, 157) solid;
  /* margin: 24px; */
  width: 275px;
  height: 202px;
  float: left;
}

.picture_text {
  font-size: 20px;
  height: 50px;
  width: 275px;
  background-color: #4aaaa5;
  color: #fff;
  text-align: center;
  position: absolute;
  margin-top: 140px;
}

.picture_text:hover {
  font-size: 20px;
  height: 50px;
  width: 275px;
  background-color: #17cbc2;
  color: #fff;
  text-align: center;
  position: absolute;
  margin-top: 140px;
}

.div_content_pic_info {
  color: #fff;
}

h4 {
  margin: 15px;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  color: #4aaaa5;
  border-bottom: 2px #999999 solid;
  /* text-align: center; */
  padding: 20px;
}

.pp {
  width: 200px;
  padding: 20px;
  float: left;
}

.para {
  padding: 20px;
  vertical-align: middle;
  font-size: larger;
}
