
.pic_div{
  width: 275px;
  height: 202px;
  float: left;
  margin: 24px;
  background-size: contain;
 border: 1px solid #9b9b9b;
}
.pic_div:hover{
  width: 275px;
  height: 202px;
  float: left;
  margin: 24px;
  background-size: contain;
  opacity: 0.7
  }



.pic_div1{
  width: 275px;
  height: 202px;
  float: left;
  margin: 24px;
  background-image: url(./assets/technics-q-c-640-480-1.jpg);
  background-size: contain;
  transition: .2s all ease-in-out;
}
.pic_div1:hover{
  opacity: 0.9
  }
  .pic_div2{
    width: 275px;
    height: 202px;
    float: right;
    margin: 24px;
    background-image: url(./assets/technics-q-c-640-480-2.jpg);
    background-size: contain;
    transition: .2s all ease-in-out;
  }
.pic_div2:hover{
    opacity: 0.8
}
.pic_div3{
  width: 275px;
  height: 202px;
  float: left;
  margin: 24px;
  background-image: url(./assets/technics-q-c-640-480-5.jpg);
  background-size: contain;
  transition: .2s all ease-in-out;
}
.pic_div3:hover{
  opacity: 0.8
}
.pic_div4{
  width: 275px;
  height: 202px;
  float: right;
  margin: 24px;
  background-image: url(./assets/technics-q-c-640-480-7.jpg);
  background-size: contain;
  transition: .2s all ease-in-out;
}
.pic_div4:hover{
  opacity: 0.8
}
.pic_div5{
  width: 275px;
  height: 202px;
  float: left;
  margin: 24px;
  background-image: url(./assets/technics-q-c-640-480-9.jpg);
  background-size: contain;
  transition: .2s all ease-in-out;
}
.pic_div5:hover{
  opacity: 0.8
}




/* .div_main_section~ {src: url(./src/assets/technics-q-c-640-480-1.jpg);
} */


/* .text_picture_box{
  margin-top: 50%;
  background-color: #4aaaa5;
  text-align: center;
  height: 50px;
  padding: auto;
  opacity: 0.9;
} */




h4 {
  margin-top: 50%;
  background-color: #4aaaa5;
  text-align: center;
  height: 40px;
  padding: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding-top: 15px;
  /* padding: 12px 30px; */
}




.para {
  padding: 20px;
  vertical-align: middle;
  font-size: larger;
}
